body {
  background-color: #0f0f0f;
  color: #00ff99;
  font-family: 'Courier New', monospace;
  padding: 20px;
  overflow-x: hidden;
}

.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2em;
  color: #00ffcc;
}

.title span {
  font-size: 0.6em;
  color: #009966;
}

.badges {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.badge {
  background-color: #003322;
  border: 1px solid #00ff99;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
}

.input-section {
  margin: 30px 0;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 1px solid #00ff99;
  background: black;
  color: #00ff99;
  border-radius: 5px;
}

button {
  padding: 10px 25px;
  border: none;
  background: #00ff99;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

#terminal {
  background: black;
  padding: 15px;
  text-align: left;
  height: 180px;
  overflow-y: auto;
  border: 1px solid #00ff99;
  white-space: pre-wrap;
  font-size: 14px;
  margin-bottom: 20px;
}

.wallet {
  color: #00ffcc;
  font-weight: bold;
  background: #002d22;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 10px;
}

.final-msg {
  margin-top: 15px;
  color: #00ff99;
  font-size: 1em;
  background: #001d14;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.6;
}

.footer {
  margin-top: 40px;
  font-size: 0.85em;
  color: #009966;
}
